<h3>Datos de usuario registrado</h3>
<table class="table">
    <tr>
        <td>NOMBRE</td>
        <td>@ViewBag.usuario.Nombre</td>
    </tr>
    <tr>
        <td>PASSWORD</td>
        <td>@ViewBag.usuario.Password</td>
    </tr>
    <tr>
        <td>EDAD</td>
        <td>@ViewBag.usuario.Edad</td>
    </tr>
    <tr>
        <td>EMAIL</td>
        <td>@ViewBag.usuario.Email</td>
    </tr>
    <tr>
        <td>PAGINA WEB</td>
        <td>@ViewBag.usuario.PaginaWeb</td>
    </tr>
</table>